@charset "utf-8";
/* CSS Document */
.icon-48-facebook_c{background: url("home.png") no-repeat left;}
.icon-48-test_c{background: url("test.png") no-repeat left;}
.icon-48-users_c{background: url("fbuser.png") no-repeat left;}
.icon-48-editor_c{background: url("editor.png") no-repeat left;}